{% extends 'base.html' %}
{% block content %}
<div class="content-container">
 <h2 class="aboutuspage-head">ABOUT</h2>
 <p class="aboutuspage-text">Welcome to the "About Us" section of CLEAN IT! – your trusted partner in the field of cleaning services!<br><br>
CLEAN IT! is a progressive cleaning company specializing in providing high-quality cleaning and maintenance services for various premises. We take pride in offering our clients a personalized approach, reliability, and impeccable service quality.
<h2 class="aboutuspage-head">OUR JOBS</h2>
<div class="features-body">
    <section class="features">
        <img src="https://mykaleidoscope.ru/uploads/posts/2021-10/1633495006_25-mykaleidoscope-ru-p-chistaya-kvartira-interer-krasivo-foto-25.jpg"/>
        <img src="https://mykaleidoscope.ru/uploads/posts/2021-10/1633494960_4-mykaleidoscope-ru-p-chistaya-kvartira-interer-krasivo-foto-4.jpg"/>
        <img src="https://mykaleidoscope.ru/uploads/posts/2021-10/1633494944_21-mykaleidoscope-ru-p-chistaya-kvartira-interer-krasivo-foto-21.jpg"/>
        <img src="https://mykaleidoscope.ru/uploads/posts/2021-10/1633494950_2-mykaleidoscope-ru-p-chistaya-kvartira-interer-krasivo-foto-2.jpg"/>
        <img src="https://sun9-70.userapi.com/sun9-73/impg/I5BurV1eQPjt2a3MnrWju9Uxu8hnPCR6_iXoNQ/7y1DKgemYNw.jpg?size=1200x801&quality=96&sign=0419ace4a1b864375794f0b24e1f4474&c_uniq_tag=ngzaAFYFgMfrQkIqjZEqlb_hY0k6ECBm0qL-90DN3mw&type=album"/>
    </section>
</div>
</div>
{% endblock %}