{% extends 'base.html' %}
{% block content %}
<div class="content-container">
 <h2 class="aboutuspage-head">ABOUT</h2>
 <p class="aboutuspage-text">Welcome to the "About Us" section of CLEAN IT! – your trusted partner in the field of cleaning services!<br><br>
CLEAN IT! is a progressive cleaning company specializing in providing high-quality cleaning and maintenance services for various premises. We take pride in offering our clients a personalized approach, reliability, and impeccable service quality.
 <section class="features">
 </section>
</div>
{% endblock %}