{% extends 'base.html' %}
{% block content %}
<div class="content-container">
    <div class='photo-about'>
      <img src="https://rbkt.org/uploads/60/e7/f5/07fb.jpg">
      <div class='about-us'>
        <h2>WHY CLEAN IT?</h2>
        <p>Welcome to the world of impeccable cleanliness and shine! CLEAN IT! - your reliable partner in ensuring perfect cleanliness and comfort in your home, office, or commercial space.
        <br><br>
            At CLEAN IT!, we believe that every space deserves special attention and care. We strive to create environments that exude cleanliness, freshness, and harmony. Our team of cleaning experts is ready to bring your boldest ideas to life and transform any space into a true masterpiece.
        </p>
      </div>
    </div>
    <button class="services-button">SERVICES</button>
</div>
{% endblock %}